* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    direction: rtl;
    height: 100vh;
    width: 100%;
    background-color: #1d1f3a;
}

header {
    position: fixed;
    height: 65px;
    width: 100%;
    background-color: rgb(223, 30, 4);
    z-index: 100;
}

.nav1 {
    height: 65px;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: 20px;
}

li {
    min-height: 25px;
    max-width: 350px;
    padding: 20px;
    list-style: none;
    margin: 20px;
}

li>a {
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: #1d1f3af5;
}

.sec1 {
    width: 100%;
    gap: 50px;
    position: relative;
}

.logo {
    width: 425px;
}

.inp1 {
    background-color: rgba(10, 10, 10, 0.339);
    width: 350px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    outline: none;
    position: absolute;
    top: 100px;
    left: 100px;
}

.but1 {
    background-color: white;
    color: red;
    width: 70px;
    height: 35px;
    border-radius: 20px;
    position: absolute;
    top: 107px;
    left: 110px;
}

.reed {
    position: relative;
    bottom: 40px;
    right: 65px;
    background-color: rgb(223, 30, 4);
    border-radius: 10px;
    height: 100px;
    width: 1199px;
}

.reed>h2 {
    position: absolute;
    top: 35px;
    right: 20px;
}

.selec01 {
    position: absolute;
    top: 25px;
    right: 150px;
    width: 250px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.613);
    padding-right: 20px;
}

.selec02 {
    position: absolute;
    top: 25px;
    right: 500px;
    width: 250px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.613);
    padding-right: 20px;
}

.selec03 {
    position: absolute;
    top: 25px;
    right: 850px;
    width: 250px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.613);
    padding-right: 40px;
}

.sec2 {
    width: 1199px;
    position: relative;
    right: 65px;
}

.sec2 a {
    display: flex;
    gap: 43px;
    flex-wrap: wrap;
}

.bg1 {
    border-radius: 10px;
    height: 300px;
    width: 205px;
    position: relative;
}

.bg1 p {
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
    height: 30px;
    width: 80px;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    top: 20px;
    right: 10px;
}

.bg1 img {
    height: 300px;
    width: 205px;
}

.bg1 span {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(255, 230, 0, 0.87);
    width: 50px;
    position: absolute;
    top: 30px;
    right: 125px;
    height: 20px;
}